<h1>Hel low, Rails!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'My Blog', controller: 'articles', action: 'index' %>
<%= link_to 'Hooray!', '#', :onclick=>"HoorayFunction()" %>
<%# Link to '/articles' %>
